{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/comma-dangle": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
        "semi": true,
        "tabWidth": 2,
        "printWidth": 100,
        "singleQuote": true,
        "trailingComma": "none"
      }
    ]
  },
  "ignorePatterns": [
    "dist/",
    "src/testdbquery.ts",
    "SampleData/customSeedScript.ts"
  ]
}
